<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% include 'cdnlines.html' %}
</head>

<body>
  {% include 'navbar.html' %}
  <div class="text-center bg-warning">
    <h3 class="text-center text-danger display-3 font-weight-bold mb-5 mt-1"><i>Welcome To Mo INSTITUTE</i></h3> </div>
    {% block content %}

    {% endblock %}
    <h5 class="text-center text-primary bg-dark w-70 m-5 mt-5">Thank You For Visiting</h5>
</body>

</html>