{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="{% static 'images/logo.png' %}" class="mySlides" style="height:25px ; width: 2%; ">
    <a class="navbar-brand" href="{% url 'home' %}">Mo INSTITUTE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="{% url 'home' %}">Home</a>
        <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
        <a class="nav-link active" href="{% url 'service' %}">Service</a>
        <a class="nav-link active" href="{% url 'feedback' %}">Feedback</a>
        <a class="nav-link active" href="{% url 'gallary' %}">Gallary</a>

      </div>
      </div>
     <div class="text-right "> 
      <span href="" class="text-white">Hello {{ request.user|capfirst}} </span>
    <a href="{% url 'logout' %}" class="text-white">logout</a></div>
  </nav>
   