<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'cdnlines.html' %}
</head>
<body>
    <div class="container">
        <h3 class="text-center">Register Here!</h3>
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    First Name :&nbsp;{{ form.first_name }} <br>
                    Last Name :&nbsp;{{ form.last_name }} <br>
                    Email :&ensp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;{{ form.email }} <br>
                    UserName :&nbsp;{{ form.username }} <br>
                    Password :&nbsp;&nbsp;&nbsp;{{ form.password }} <br>
                    <center>
                    <input type="submit" value="Register">
                    <input type="reset" value="Cancel">
                </center>
                </form>
            </div>
        </div>
    </div>
</body>
</html>